.habit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  border-radius: 12px;
  border: 2px solid #ffe5e5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #fff0f5;
}

.habit.done {
  background: #d1f7d6;
  border-color: #8ce99a;
  transform: scale(1.02);
}

.habit .icon {
  font-size: 1.6rem;
}

.habit input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #ff6b81;
  transition: 0.3s;
}
